<launch>
  <!-- number of moving objects -->
  <arg name="obj_num" value="10" />
  <arg name="drone_id" value="1"/>

  <arg name="map_size_x" value="50.0"/>
  <arg name="map_size_y" value="25.0"/>
  <arg name="map_size_z" value=" 2.0"/>
  <arg name="init_x" value="-10.0"/>
  <arg name="init_y" value="  0.0"/>
  <arg name="init_z" value="  0.1"/>
  <arg name="odom_topic" value="visual_slam/odom" />
  
  <!-- map -->
  <node pkg ="map_generator" name ="random_forest" type ="random_forest" output = "screen">
      <param name="map/x_size" value="26" />
      <param name="map/y_size" value="20" />
      <param name="map/z_size" value="3" />
      <param name="map/resolution" value="0.1"/>
      <param name="ObstacleShape/seed" value="1"/>
      <param name="map/obs_num" value="20"/>
      <param name="ObstacleShape/lower_rad" value="0.5"/>
      <param name="ObstacleShape/upper_rad" value="0.7"/>
      <param name="ObstacleShape/lower_hei" value="0.0"/>
      <param name="ObstacleShape/upper_hei" value="3.0"/>
      <param name="map/circle_num" value="20"/>
      <param name="ObstacleShape/radius_l" value="0.7"/>
      <param name="ObstacleShape/radius_h" value="0.5"/>
      <param name="ObstacleShape/z_l" value="0.7"/>
      <param name="ObstacleShape/z_h" value="0.8"/>
      <param name="ObstacleShape/theta" value="0.5"/>
      <param name="pub_rate" value="1.0"/>
      <param name="min_distance" value="0.8"/>
      <param name="sensing/radius" value="5.0" />
      <remap from="~odometry" to="drone_visual_slam/odom" />
  </node>
  
  <node pkg="so3_quadrotor_simulator" type="quadrotor_simulator_so3" name="drone_quadrotor_simulator_so3" output="screen">
    <param name="rate/odom" value="200.0"/>
    <param name="simulator/init_state_x" value="$(arg init_x)"/>
    <param name="simulator/init_state_y" value="$(arg init_y)"/>
    <param name="simulator/init_state_z" value="$(arg init_z)"/>
    <remap from="~odom" to="drone_visual_slam/odom"/>
    <remap from="~cmd" to="drone_so3_cmd"/>
    <remap from="~force_disturbance" to="drone_force_disturbance"/>    
    <remap from="~moment_disturbance" to="drone_moment_disturbance"/>        
  </node>
 
  <node pkg="nodelet" type="nodelet" args="standalone so3_control/SO3ControlNodelet" name="drone_so3_control" required="true" output="screen">
    <param name="so3_control/init_state_x" value="$(arg init_x)"/>
    <param name="so3_control/init_state_y" value="$(arg init_y)"/>
    <param name="so3_control/init_state_z" value="$(arg init_z)"/>
    <remap from="~odom" to="drone_visual_slam/odom"/>
    <remap from="~position_cmd" to="drone_planning/pos_cmd"/>
    <remap from="~motors" to="drone_motors"/>
    <remap from="~corrections" to="drone_corrections"/>
    <remap from="~so3_cmd" to="drone_so3_cmd"/>
    <rosparam file="$(find so3_control)/config/gains_hummingbird.yaml"/>
    <rosparam file="$(find so3_control)/config/corrections_hummingbird.yaml"/>
    <param name="mass" value="0.98"/>
    <param name="use_angle_corrections " value="false"/>
    <param name="use_external_yaw "      value="false"/>
    <param name="gains/rot/z" value="1.0"/>    
    <param name="gains/ang/z" value="0.1"/>        
  </node>  

  <!-- <node pkg="poscmd_2_odom" name="drone_$(arg drone_id)_poscmd_2_odom" type="poscmd_2_odom" output="screen">
      <param name="init_x" value="$(arg init_x)"/>
      <param name="init_y" value="$(arg init_y)"/>
      <param name="init_z" value="$(arg init_z)"/>
      <remap from="~command" to="drone_$(arg drone_id)_planning/pos_cmd"/>
      <remap from="~odometry" to="drone_$(arg drone_id)_$(arg odom_topic)"/>
  </node> -->

  <node pkg="odom_visualization" name="drone_odom_visualization" type="odom_visualization">
        <remap from="~odom" to="drone_visual_slam/odom"/>
        <param name="color/a" value="1.0"/>    
        <param name="color/r" value="0.5"/>        
        <param name="color/g" value="0.0"/>        
        <param name="color/b" value="0.5"/>       
        <param name="covariance_scale" value="100.0"/>       
        <param name="robot_scale" value="1.0"/>
        <param name="tf45" value="false"/>
        <param name="drone_id" value="drone_id"/>
  </node>

  <!-- <node pkg="local_sensing_node" type="pcl_render_node" name="drone_pcl_render_node" output="screen">
        <rosparam command="load" file="$(find local_sensing_node)/params/camera.yaml" />
        <param name="sensing_horizon"  value="5.0" />
        <param name="sensing_rate"     value="30.0"/>
        <param name="estimation_rate"  value="30.0"/>

        <param name="map/x_size"     value="$(arg map_size_x)"/>
        <param name="map/y_size"     value="$(arg map_size_y)"/>
        <param name="map/z_size"     value="$(arg map_size_z)"/>

        <remap from="~global_map" to="/map_generator/global_cloud"/>
        <remap from="~odometry"   to="/drone_$(arg odom_topic)"/>
        <remap from="~pcl_render_node/cloud"   to="/drone_pcl_render_node/cloud"/>
  </node> -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find so3_quadrotor_simulator)/launch/default.rviz" required="true" />

  <!-- <node name="planner_example" pkg="planner_example" type="planner_example_node" >
    <remap from="~position_cmd" to="drone_planning/pos_cmd" />
  </node> -->


</launch>